:root {
  --app-height: 100%;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #CFE0C3;
  overflow-x: hidden;
  color: #ababab;
  margin: 0px;
}

.main {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.hexagon-item {
  cursor: pointer;
  width: 33%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-left: solid 1px black;
  border-top: solid 1px black;
  flex-grow: 1;
  box-sizing: border-box;
}

.hexagon-item:nth-child(1), .hexagon-item:nth-child(2), .hexagon-item:nth-child(3) {
  border-top: none;
}



.hexagon-item:hover {
  z-index: 1;
}

.hex-content {
  color: black;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.hex-content .icon {
  display: block;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 11px;
}


.hex-content .title {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
}

a {
  text-decoration: none
}


.hexagon-item:hover .title {
  -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media screen and (max-width: 480px) {

  .main {
    height: calc(var(--vh, 1vh) * 100);
  }

  .hexagon-item {
    max-width: 50%;
    min-width: 50%;

    min-height: 33%;
    max-height: 33%;   
  }

  .hexagon-item:nth-child(3) {
    border-top: 1px solid black
  }
}

/***************************/

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
} 